<div class="row">
  <div class="twelve columns">
    <header>
      <div class="profile-img">
        <img src="<%= image_path("profile-image.png") %>">
      </div>

      <h1 class="name">
        Chris Carter
      </h1>
    </header>
  </div>

  <hr>

  <div class="twelve columns">
    <h2>Contact</h2>

    <dl class="list-three-columns">
      <dt>Mobile</dt>
      <dd><a href="tel:+447708591657">07708 591657</a></dd>

      <dt>Github</dt>
      <dd><a href="https://www.github.com/chriscarter90" target="_blank">chriscarter90</a></dd>

      <dt>Twitter</dt>
      <dd><a href="https://twitter.com/haironfire907" target="_blank">haironfire907</a></dd>
    </dt>
  </div>

  <hr>

  <div class="twelve columns">
    <h2>Bio</h2>
    <p>
    I am a driven full-stack developer, with plenty of experience of Ruby on Rails in varying
    companies and projects. I also thoroughly enjoy early-stage product development, especially
    when working closely with users to solve specific problems. I work best when
    writing good-quality code which makes an impact on a fantastic product and the end user.
    </p>
  </div>

  <hr>

  <div class="twelve columns">
    <h2>Experience</h2>

    <div class="experience">
      <div class="experience-header">
        <div class="experience-name">
          <h3>
            Unboxed Consulting
          </h3>
          <h4>
            Ruby on Rails Developer
          </h4>
        </div>
        <div class="experience-period">
          <h4>
            September 2013 - present
          </h4>
        </div>
      </div>

      <div class="experience-body">
        <p>
        Full-stack Ruby on Rails Developer, working on multiple Agile projects across
        different clients.
        </p>

        <ul>
          <li>
            <a href="https://www.buckscc.gov.uk" target="_blank">Buckinghamshire County Council</a>
            <p>
              Lead developer on the client's first two digital exemplars, taking them
              through the agile process from Discovery phase through to public release.
            </p>
            <ul class="centered-list">
              <li>
                <a href="https://services.buckscc.gov.uk/schools" target="_blank">Find my child a school place</a>
              </li>
              <li>
                <a href="https://unboxed.co/project-stories/bucks-cc-beta" target="_blank">Maintain my street</a>
              </li>
              <li>
                Lead developer, created and iterated on early-stage HTML and Ruby prototypes to test
                with real users
              </li>
              <li>
                Manipulated and worked with maps, geospatial data and GIS services
              </li>
              <li>
                Integrated with third-party legacy backend software to compliment internal processes
              </li>
              <li>
                Carried out user research and testing, in order to develop services specifically
                suited for genuine user needs
              </li>
              <li>
                Saw a service through the full development process from Discovery to release,
                using the GDS Service Manual and meeting the Digital Service Standard
              </li>
            </ul>
          </li>

          <li>
            <a href="https://www.newham.gov.uk/" target="_blank">London Borough of Newham</a>

            <p>
              Alpha phase product development, investigating ways to more proactively
              help residents who may be facing homelessness.
            </p>
            <ul class="centered-list">
              <li>
                Technical Architect role in a multi-discipline team
              </li>
              <li>
                Advised on the best combination of legacy software and new services
                in order to build the best services for the client within their
                budget
              </li>
              <li>
                Rapid prototyping (in Marvel, .NET and third-party services) and testing the
                suitability of different and innovative solutions with real users, including
                chat bots and natural language processing
              </li>
            </ul>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/ministry-of-justice" target="_blank">Ministry of Justice</a>

            <p>
            Built software to streamline and automate manual rota allocation processes
            </p>

            <ul class="centered-list">
              <li>
                Led business process workshops to identify areas for automation and cost savings
              </li>
              <li>
                Built proof of concept iteratively, regularly presented to the stakeholders
                at regular show and tells
              </li>
              <li>
                Taught the development team to use <a href="http://potassco.sourceforge.net" target="_blank">Potassco</a>,
                which formed the core of the solution
              </li>
            </ul>
          </li>
          <li>
            <a href="https://www.plymouth.ac.uk/" target="_blank">Plymouth University</a>

            <p>
            Backend developer as part of a team to help rebuild the main website, along
            with creating a complex CMS for internal staff to edit pages quickly and easily.
            </p>

            <ul class="centered-list">
              <li>
                Worked alongside developers from multiple companies and backgrounds
              </li>
              <li>
                Mentored new in-house developers to get them trained in the Ruby
                on Rails stack
              </li>
              <li>
                Worked to sprints, participated in regular show and tells and planning sessions
              </li>
            </ul>
          </li>
          <li>
            <p>Other notable clients including:</p>

            <ul class="centered-list">
              <li>
                <a href="https://www.contiki.com/uk/en" target="_blank">Contiki Holidays</a> - supported
                and improved a series of legacy applications, including a lengthy migration to AWS
              </li>
              <li>
                <a href="http://www.notonthehighstreet.com/" target="_blank">notonthehighstreet.com</a> - augmented
                an in-house team to provide features for an online retailer
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="experience">
      <div class="experience-header">
        <div class="experience-name">
          <h3>
            Unboxed Consulting
          </h3>
          <h4>
            Ruby on Rails Developer (Intern)
          </h4>
        </div>
        <div class="experience-period">
          <h4>
            April 2012 – September 2012
          </h4>
        </div>
      </div>

      <div class="experience-body">
        <p>
        A 6-month internship undertaken as part of my
        University course. Provided a solid foundation in various skills
        including:
        </p>

        <ul class="centered-list list-two-columns">
          <li>
            Ruby on Rails
          </li>
          <li>
            Test-driven development
          </li>
          <li>
            Agile development and delivery methods
          </li>
          <li>
            Experience as Scrum Master
          </li>
          <li>
            Project and team management
          </li>
          <li>
            Client interaction
          </li>
          <li>
            Scoping and planning
          </li>
        </ul>
      </div>
    </div>

    <div class="experience">
      <div class="experience-header">
        <div class="experience-name">
          <h3>
            Skymarket Ltd
          </h3>
          <h4>
            Freelance iOS Developer
          </h4>
        </div>
        <div class="experience-period">
          <h4>
            September 2011 – April 2012
          </h4>
        </div>
      </div>

      <div class="experience-body">
        <p>
        Developing in-house iOS applications during my third year of study:
        </p>

        <ul class="centered-list list-two-columns">
          <li>
            0800 Wizard (<a href="http://tinyurl.com/3n4g3bf" target="_blank">http://tinyurl.com/3n4g3bf</a>)
          </li>
          <li>
            08 Wizard (<a href="http://tinyurl.com/3wey2fk" target="_blank">http://tinyurl.com/3wey2fk</a>)
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <div class="twelve columns">
    <h2>
      Skills
    </h2>

    <table>
      <thead>
        <tr>
          <th rowspan="2">
            Skill
          </th>
          <th colspan="3">
            Proficiency
          </th>
        </tr>
        <tr>
          <th>Competent</th>
          <th>Proficient</th>
          <th>Advanced</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Ruby on Rails</td>
          <td></td>
          <td></td>
          <td>✔</td>
        </tr>
        <tr>
          <td>HTML, CSS</td>
          <td></td>
          <td></td>
          <td>✔</td>
        </tr>
        <tr>
          <td>Databases (including MySQL and PostgreSQL)</td>
          <td></td>
          <td></td>
          <td>✔</td>
        </tr>
        <tr>
          <td>Testing frameworks (including RSpec and Cucumber)</td>
          <td></td>
          <td></td>
          <td>✔</td>
        </tr>
        <tr>
          <td>Amazon Web Services (AWS)</td>
          <td></td>
          <td>✔</td>
          <td></td>
        </tr>
        <tr>
          <td>JavaScript</td>
          <td></td>
          <td>✔</td>
          <td></td>
        </tr>
        <tr>
          <td>C++</td>
          <td></td>
          <td>✔</td>
          <td></td>
        </tr>
        <tr>
          <td>Java</td>
          <td></td>
          <td>✔</td>
          <td></td>
        </tr>
        <tr>
          <td>iOS/Android</td>
          <td>✔</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <div class="twelve columns">
    <h2>Education & Qualifications</h2>

    <div class="education">
      <div class="education-header">
        <h3 class="education-school-name">
          Imperial College, London
        </h3>
        <h4 class="education-school-period">
          Software Engineering MEng, September 2009 – July 2013
        </h4>
      </div>

      <div class="education-body">
        <p>Achieved Second Class Honours, upper division - 2:1</p>

        <p>Studies a wide array of modules including (but not limited to):</p>

        <ul class="centered-list list-three-columns">
          <li>
            Hardware
          </li>
          <li>
            Logic
          </li>
          <li>
            Databases and Advanced Databases
          </li>
          <li>
            Object-orientated Programming
          </li>
          <li>
            Compilers
          </li>
          <li>
            Networks and Communications
          </li>
          <li>
            Algorithms
          </li>
          <li>
            Artificial Intelligence
          </li>
          <li>
            Operating Systems
          </li>
          <li>
            Distributed Systems
          </li>
          <li>
            Network Security
          </li>
          <li>
            Machine Learning
          </li>
          <li>
            Computer Vision
          </li>
          <li>
            Computational Neurodynamics
          </li>
        </ul>

        <p>
        Created an automated timetabling system using <a href="http://potassco.sourceforge.net/" target="_blank">Potassco</a>
        as a dissertation project, which was awarded a first
        </p>
      </div>
    </div>

    <div class="education">
      <div class="education-header">
        <h3 class="education-school-name">
          The Sixth Form College, Farnborough
        </h3>
        <h4 class="education-school-period">
          September 2006 – July 2008
        </h4>
      </div>
      <div class="education-body">
        <p>
        Five A-Levels, including Mathematics and Computing at Grade A
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="twelve columns">
    <h2>References</h2>

    <p>Available on request</p>
  </div>
</div>
